a{
    text-decoration: none;
}
h2{
    margin:0
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}
.page{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0;
    border: 0;
}
.header, .footer{
    background-color: #1F2937;
}
.topheader{
    padding:8px 256px 8px 256px;
    display: flex;
    justify-content: center;
    gap:16px;
}
.heading, .logo{
    color: #F9FAF8;
    margin-right:auto;
    font-weight: 900;
}
.logo{
    font-size: 24px;
}
.heading{
    font-size: 48px;
}
.bottomheader{
    padding: 96px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.subtextheader, .linkBlock{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}
.subtextheader{
    margin:8px 0px 8px 0px
}
.scale{
    width:504px;
    height:320px;
    display: flex;
    flex-direction: column;
}
.signup{
    border-radius: 8px;
    padding:8px 24px 8px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: 0;
}
.upper{
    font-size: 36px;
    font-weight: bold;
    color:#1F2937
}
.containerTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.picContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 64px;
}
.item{
    text-align: center;
    width: 400px;
    height: auto;
}
img.butter{
    width: 200px;
    height: auto;
}
.containerThree{
    padding: 64px 256px 64px 256px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.citation{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin:0;
    color: #1F2937;
    display:flex;
    flex-direction: column;
}
.person{
    font-size: 24px;
    align-self: flex-end;
    font-weight: bold;
    color:#1F2937;
    font-style: normal;
}
.containerFour{
    padding: 64px 256px 64px 256px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 64px 128px 64px 128px;
    width:512px;
    height:64px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
}
.signup.color{
    border:2px solid wheat
}
h4{
    color: #F9FAF8;
    font-weight: 900;
    margin:2px;
}
.textsign{
    margin:2px;
    color: #F9FAF8;
    font-weight: 100;
}
.footer{
    padding: 64px 256px 64px 256px;
    text-align: center;
    color: #F9FAF8;
    font-weight: 100;
}


